{% extends 'quiz/base.html' %}
{% load static %}

{% block title %}
    ChangePassword
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'userprofile/css/style_change_data.css' %}"/>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="change-data">
    <div class="change-data-header">
        <h1>Изменение данных профиля</h1>
    </div>
    <div class="change-data-form">
        <form method="post">
            {% csrf_token %}
            <div class="form-content">
                {% for field in form %}
                    <div class="form-data">
                        <div class="form-label">
                            <label>{{ field.label }}:</label>
                        </div>
                        <div class="form-field">
                            {{ field }}
                            {% if field.errors %}
                                <div class="errors">
                                    {% for error in field.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="form-acts">
                <div class="act-log">
                    <a href="{% url 'profile_url' %}">Профиль</a>
                </div>
                <div class="act-submit">
                    <button type="submit">Изменить</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% else %}
<div class="change-data">
    <div class="change-data-header">
        <h1>Вы не авторизованы</h1>
    </div>
</div>
{% endif %}
{% endblock %}