{% extends 'userprofile/base.html' %}

{% block title %}
    History
{% endblock %}

{% block content %}
    <h1>History</h1>
    <h2>Content_temp</h2>

    {% if user.is_authenticated %}
        <h3>Вы авторизованы как {{ user.username }}</h3>
        <h3>Ваш адрес электронной почты {{ user.email }}</h3>
    {% else %}
        <h3>Вы не авторизованы</h3>
    {% endif %}

    <br><br>
<hr>
{% for c in user_test_cats %}
    ={{ c }}=
{% endfor %}
<hr>

    {% if user.is_authenticated %}
        {% for user_test in user_tests %}
            <a href="{% url 'history_detail_url' pk=user_test.id %}">
                Test # {{ user_test.id }}. {{ user_test.test.testquestion_set.first.question.category.title  }}
            </a>
<!--            {% for key, value in result.1.items %}-->
<!--                <p>{{ key }}: {{ value }}</p>-->
<!--            {% endfor %}-->
            <hr>
        {% empty %}
            <p>Вы не прошли ещё ни одного теста</p>
        {% endfor %}
    {% else %}
        <p><a href="{% url 'login_url' %}">ВОЙТИ</a></p>
        <p><a href="{% url 'register_url' %}">РЕГИСТРАЦИЯ</a></p>
    {% endif %}

    <nav>
        <ul>
            {% for p in paginator.page_range %}
                <li>
                    <a href="?page={{ p }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}