{% extends 'quiz/base.html' %}
{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'userprofile/css/style_profile.css' %}"/>
{% endblock %}

{% block content %}
    <div class="profile">
        <div class="profile-header">
            <h1>Профиль</h1>
        </div>
        <div class="profile-content">
            <div class="profile-nav">
                {% if user.is_authenticated %}
                    <h3><a href="{% url 'history_url' %}">История</a></h3>
                    <h3><a href="{% url 'stat_url' %}">Статистика</a></h3>
                {% else %}
                    <h3>История</h3>
                    <h3>Статистика</h3>
                {% endif %}
            </div>
            <div class="profile-data">
                <div class="profile-info">
                    {% if user.is_authenticated %}
                        <h3>Вы авторизованы как {{ user.username }}</h3>
                        <h3>Ваш адрес электронной почты {{ user.email }}</h3>
                    {% else %}
                        <h3>Вы не авторизованы</h3>
                        <h3>Войдите в аккаунт или создайте новый</h3>
                    {% endif %}
                </div>
                <div class="profile-acts">
                    {% if user.is_authenticated %}
                        <form method="post">
                            {% csrf_token %}
                            <button class="logout-btn" type="submit" name="logout">Выйти</button>
                            <button class="act-btn" type="submit" name="change_pd">Изменить профиль</button>
                            <button class="act-btn" type="submit" name="change_pw">Изменить пароль</button>
                        </form>

                    {% else %}
                        <form method="post">
                            {% csrf_token %}
                            <button class="act-btn" type="submit" name="login">Войти</button>
                            <button class="act-btn" type="submit" name="register">Регистрация</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}