<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <meta name="Nova theme" content="width=device-width, initial-scale=1">
    <link type="image/x-icon" href="{% static 'quiz/img/favicon.svg' %}" rel="shortcut icon">
    <link type="Image/x-icon" href="{% static 'quiz/img/favicon.svg' %}" rel="icon">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <link rel="stylesheet" href="{% static 'quiz/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'quiz/css/responsive.css' %}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>



    {% block head %}
    {% endblock %}
</head>
<body>

<!-- Navigation
    ================================================== -->
<div class="hero-background">
    <div>
        <img class="strips" src="{% static 'quiz/img/strips.png' %}">
    </div>
    <div class="container">
        <div class="header-container header">
            <div>
                <a class="navbar-brand logo" href="/"> <img class="logo" src="{% static 'quiz/img/logo.png' %}"/> LegalTrainer </a>
            </div>
            <div>
                <form method="post">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        <button class="header-btn" name="profile">{{ user.username }}</button>
                    {% else %}
                        <button class="header-btn" name="login">Войти</button>
                    {% endif %}
                </form>
            </div>
            <div class="header-right">
                <a class="navbar-item" href="{% url 'about_url' %}">О продукте</a>
                <a class="navbar-item" href="{% url 'leaderboard_url' %}">Лидеры</a>
                <a class="navbar-item" href="{% url 'index_url' %}">Главная</a>
            </div>

        </div>
        <!--navigation-->

        <div class="hero row">
            {% block content %}
            {% endblock %}

        </div><!--hero-->

    </div><!--hero-container-->
</div><!--hero-background-->

<!-- Footer
  ================================================== -->

<div class="footer">

    <div class="container">
        <div class="row">

            <div class="col-sm-2"></div>

            <div class="col-sm-8 webscope">
                <span class="webscope-text">LegalTrainer is dedicated to the public domain under the CC0 license </span>
                <img id="f_img" src="{% static 'quiz/img/book_f.svg' %}"/>
            </div>
            <!--webscope-->

        </div>
        <!--row-->

    </div>
    <!--container-->
</div>
<!--footer-->

</body>
</html>