{% extends 'quiz/base.html' %}
{% load static %}

{% block title %}
    LegalTrainer
{% endblock %}

{% block content %}
    <div class="hero-right col-sm-6 col-sm-6">
                <h1 class="header-headline bold"> LegalTrainer <br></h1>
                <h4 class="header-running-text light"> Онлайн тренажёр по различным отраслям права.
                    Проверь свои знания!</h4>
                <div>
                    <form method="post">{% csrf_token %}
                        {% if user.is_authenticated %}
                        <button class="hero-btn" type="submit" name="choose_cat">Начать</button>
                        {% else %}
                        <button class="hero-btn" type="submit" name="login">Войти</button>
                        {% endif %}
                    </form>
                </div>
            </div><!--hero-left-->

            <div class="col-sm-6 col-sm-6 ipad">
                <img class="ipad-screen img-responsive" src="{% static 'quiz/img/book_tree.png' %}"/>
            </div>

{% endblock %}
