{% extends 'quiz/base.html' %}
{% load static %}

{% block title %}
    Test
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'quiz/css/style_start_test.css' %}"/>
{% endblock %}

{% block content %}
    <h1 class="st-h1">Вы выбрали тест по теме «{{ category }}»</h1>
    <h3 class="st-h3">Тест может содержать до {{ qq }} вопросов.</h3>
    <h3 class="st-h3">У каждого вопроса есть как минимум один правильный ответ.
        Все ответы на вопрос не могут быть правильными. Верно отвеченным считается тот вопрос,
        на который даны все верные ответы и не дано ни одного неверного.</h3>
    <h3 class="st-h3">До завершения теста допускается возврат к ответам на предыдущие вопросы и их изменение.</h3>
    <h3 class="st-h3">Удачи!</h3>
    <form method="post">
            {% csrf_token %}
            <button class="start-btn" type="submit" name="start">Начать</button>
            <button class="cats-btn" type="submit" name="cats">Категории</button>
    </form>

{% endblock %}
