{% extends 'userprofile/base.html' %}

{% block title %}
    Change password
{% endblock %}

{% block content %}
    <h1>Change password</h1>

    {% if user.is_authenticated %}
        <h3> Вы авторизованы как {{ user.username }}</h3>
    {% else %}
        <h3>Вы не авторизованы</h3>
    {% endif %}

    <br><br>

    {% if user.is_authenticated %}
        <p>{{ user.username }} <a href="{% url 'logout_url' %}">ВЫЙТИ</a></p>
        <hr>
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change</button>
        </form>
        <hr>
    {% else %}
        <p><a href="{% url 'login_url' %}">ВОЙТИ</a></p>
        <p><a href="{% url 'register_url' %}">РЕГИСТРАЦИЯ</a></p>
    {% endif %}
{% endblock %}