{% extends 'userprofile/base.html' %}

{% block title %}
    History
{% endblock %}

{% block content %}
    <h1>History</h1>
    <h2>Content_temp</h2>

    {% if user.is_authenticated %}
        <h3>Вы авторизованы как {{ user.username }}</h3>
        <h3>Ваш адрес электронной почты {{ user.email }}</h3>
    {% else %}
        <h3>Вы не авторизованы</h3>
    {% endif %}

    <br><br>

    {% if user.is_authenticated %}
        {% for result in user_results %}
            <h3>Test # {{ result.0 }}</h3>
            {% for key, value in result.1.items %}
                <p>{{ key }}: {{ value }}</p>
            {% endfor %}
            <hr>
        {% empty %}
            <p>Вы не прошли ещё ни одного теста</p>
        {% endfor %}
    {% else %}
        <p><a href="{% url 'login_url' %}">ВОЙТИ</a></p>
        <p><a href="{% url 'register_url' %}">РЕГИСТРАЦИЯ</a></p>
    {% endif %}
{% endblock %}