{% extends 'userprofile/base.html' %}
<!--{% load static %}-->

{% block title %}
    Statistic
{% endblock %}

{% block content %}
    <h1>Statistic</h1>
    <h2>Content_temp</h2>

    {% if user.is_authenticated %}
        <h3>Вы авторизованы как {{ user.username }}</h3>
        <h3>Ваш адрес электронной почты {{ user.email }}</h3>
    {% else %}
        <h3>Вы не авторизованы</h3>
    {% endif %}

    <br><br>

    {% if user.is_authenticated %}
        <hr>
        total_tests: {{ total_tests }}
        <hr>
        'total_questions': {{ total_questions }}
        <hr>
        'correct_questions': {{ correct_questions }}
        <hr>
        'incorrect_questions': {{ incorrect_questions }}
        <hr>
        <h3>PIE_H</h3>
            {% if total_his_pie|slice:":7" == '/media/' %}
                <img src="{{ total_his_pie }}" alt="Pie Histogram">
            {% else %}
                <img src="{% static 'userprofile/img/his_placeholder.png' %}">
            {% endif %}
        <hr>
        <h3>BAR_H</h3>
            {% if total_his_bar|slice:":7" == '/media/' %}
                <img src="{{ total_his_bar }}" alt="Pie Histogram">
            {% else %}
                <img src="{% static 'userprofile/img/his_placeholder.png' %}">
            {% endif %}
        {% for category, stats in categories_stat.items %}
            <h3>Category: {{ category }}</h3>
            <p>Total: {{ stats.questions }}</p>
            <p>Correct: {{ stats.correct }}</p>
            <p>Incorrect: {{ stats.incorrect }}</p>
            {% if stats.his_pie|slice:":7" == '/media/' %}
                <img src="{{ stats.his_pie }}" alt="Pie Histogram">
            {% else %}
                <img src="{% static 'userprofile/img/his_placeholder.png' %}">
            {% endif %}
        {% endfor %}
        <hr>
    {% else %}
        <p><a href="{% url 'login_url' %}">ВОЙТИ</a></p>
        <p><a href="{% url 'register_url' %}">РЕГИСТРАЦИЯ</a></p>
    {% endif %}
{% endblock %}