.result {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.result-gen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

.result-gen h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 100%;
}

.legend,
.result-detail {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 4px solid #FFB02E;
    border-radius: 20px;

    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-size: 18px;
}

li {
    list-style-type: none;
}

.correctness-img {
    max-width: 18px;
    max-height: 18px;
}

.divider {
    border-top: 1px solid #333333;
}

/* RESPONSIVE STYLESHEETS */

/* Medium Devices, Tablets */

@media only screen and (min-width: 768px) {
    .result {
        margin-top: 40px;
    }

    .result-gen h3 {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .legend,
    .result-detail {
        font-size: 16px;
    }

    .correctness-img {
        max-width: 15px;
        max-height: 15px;
    }
}

/* Small Devices, Phones */

@media only screen and (max-width: 767px) {
    .result {
        margin-top: 20px;
    }

    .result-gen h3 {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .legend,
    .result-detail {
        font-size: 14px;
    }

    .correctness-img {
        max-width: 12px;
        max-height: 12px;
    }

    .divider {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

