{% extends 'quiz/base.html' %}

{% block title %}
Question
{% endblock %}

{% block content %}
<!--<h2>{{ question.content }}</h2>-->
<!--<ul>-->
<!--    {% for answer in answers %}-->
<!--    <li>-->
<!--        {% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--        {{ answer }}-->
<!--    </li>-->
<!--    {% endfor %}-->
<!--</ul>-->
 {{ user_test }}
<br>
{{ test }}
<br>
{{ questions }}
<br>
{{ counter }}
<br>
<hr>
<hr>
<h3>{{ question }}</h3>
{% for answer in answers %}
  <p>{{ answer }}</p>
{% endfor %}
<br>
<hr>
<hr>
<h2> Question #{{ user_test.counter|add:"1" }}: {{ question }} </h2>
<h3>Answers:</h3>
<form method="post" id="test_question">
    {% csrf_token %}

    {% for field in form.fields %}
    <p>
        <input type="checkbox" value="{{item.id}}" name="answers">
        {{ field }}
    </p>
    {% endfor %}
    {% if counter > 0 %}
        <button type="submit" name="previous" form="test_question">PREVIOUS</button>
    {% endif %}
    {% if counter < quantity|add:"-1" %}
        <button type="submit" name="next" form="test_question">NEXT</button>
    {% endif %}
</form>
{% endblock %}