{% extends 'quiz/base.html' %}

{% block title %}
    Test
{% endblock %}

{% block content %}
    <h2>Test -- {{ l_test }}</h2>
    <h2>UserTest -- {{ l_user_test }}</h2>
    <h2>Category -- {{ category }}</h2>
    <ol>
        {% for question in questions %}
            <li>{{ question }}</li>
            {% for answer in answers %}
                {% if question == answer.question %}
                    <p>{{ answer }}</p>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ol>
    <form method="post">
            {% csrf_token %}
            <button type="submit" name="start">START</button>
    </form>

{% endblock %}